---
// Card.astro
import Datetime from "./Datetime.astro";
const { variant: Heading = "h2", slug, data } = Astro.props;
const { title, description, ...props } = data;
---

<li class="my-6">
  <a
    href={`/posts/${slug}`}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading>{title}</Heading>
  </a>
  <Datetime {...props} />
  <p>{description}</p>
</li>
